<div class="login-page">
  <!-- LEFT IMAGE -->
  <div class="illustration">
              <img src="/assets/images/teacher.jpg" alt="Teacher" />    </div>

  <!-- RIGHT LOGIN CARD -->
  <div class="form-section">
    <div class="login-card">
      <h1>Welcome Back, Teacher</h1>
      <p>Login to manage the exam system</p>

      <label>UserEmail</label>
      <input type="email" placeholder="Enter Email" [(ngModel)]="loginData.email" name="email">

      <label>Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password">

      <div class="options">
          <label class="remember">
            <input type="checkbox" />
            <span>Remember Password</span>
          </label>
        
          <a href="#" class="forgot">Forgot Password?</a>
        </div>
        

        <button class="your-css-class" (click)="handleLogin()">Login</button>      </div>
      </div>
  </div>
